<style>
        html{

            --bg_loja: #ffffff;
            --image_loja: ;
            --font_family: 'Poppins', sans-serif;;
            --color_primary: #000000;
            --color_second: #747474;
            --color_text: #000000;
            --bg_button_primary: #000000;
            --bg_button_primary_hover: #000000;
            --bg_top: #f4d93f;
            --top_color: #000000;
            --cart_number: #ffffff;
            --cart_number_bg: #ffffff;
            --color_icone_fill: #ffffff;
            --color_footer: #000000;
            --color_text_footer: #ffffff;
            --color_text_button_footer: #ffffff;
            --color_border_footer: ;
            --color_icon_footer: #ffffff;
            --color_button_footer: #ff0000;
            --color_button_hover_footer: #ca3030;
            --color_title_footer: #ffffff;
            --color_footer_newsletter: #fdda24;
            --color_footer_newsletter_text: #ffffff;
            --color_footer_newsletter_input: #ffffff;
            --color_footer_newsletter_input_color: #000000;
            --social_bg: #ffffff;
            --social_bg_hover: #fdda24;
            --social_color: #000000;
            --header_top: #000000;
            --header_icon_top: #f4d93f;
            --header_text_top: #ffffff;
            --header_search_top: #000000;
            --header_search_icon: #f4d93f;
            --header_text_search_top: #ffffff;
            --header_top: #000000;
            --header_top_border: ;
            --nav_bg: #000000;
            --nav_color: #ffffff;
            --banner_dot: #ffffff;
            --banner_info_bg: #ffffff;
            --banner_info_color: #404040;
            --banner_featured_color: #404040;
            --tag_desconto_bg: #000000;
            --button_details: #000000;
            --preco_color: #000000;
            --payment_color: #747474;
            --depoiment_color: #000000;
            --color_name_product: #000000;
            --tags_product_bg: #f23d3d;
            --preco_color_product: #000000;
            --payment_color_product: #747474;
            --button_buy: #000000;
            --button_buy_hover: #000000;
            --icon_frete_color: #989898;
            --bg_category_per: #000000;
            --color_mark_category_per: ;
            --bg_button_category_per: #ffffff;
            --bg_button_hover_category_per: #ffffff;
            --color_button_category_per: #000000;
            --color_text_category_per: #ffffff;
            --mensagem_color: #ffffff;
            --img_category: unset;
            --product_text_color: #747474;
        }
    </style>